@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&display=swap");
html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

p, small, a, form, input, textarea, option {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  font-family: "Magnat-HeadRegular";
  letter-spacing: 15px;
  font-weight: 700;
  font-style: italic;
  color: #3B3559;
}

span {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  font-weight: normal;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  font-weight: normal;
  background-color: #F8F4F4;
  color: #505050;
}

.container-fluid {
  width: 90%;
  margin: 0 auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.column-2 {
  column-count: 2;
  column-gap: 30px;
}

.uppercase {
  text-transform: uppercase;
  color: #3B3559;
}

.ls-5 {
  letter-spacing: 5px;
}

.top-content {
  background-image: url("../../img/bg-main.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 857px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #F6F5F0;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #F6F5F0;
}

::placeholder {
  color: #F6F5F0;
}

section {
  padding: 100px 0px;
}

.menu {
  padding: 10px 0px;
  margin-bottom: 60px;
}
.menu .list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu .list-item a {
  color: #505050;
  font-size: 20px;
  text-transform: uppercase;
}
.menu .list-item a img {
  width: 59px;
  align-items: center;
  display: flex;
}
.menu .list-item a:hover {
  color: #3B3559;
}
.menu .list-item a.active {
  position: relative;
  font-weight: 600;
  color: #3B3559;
}
.menu .list-item a.active::after {
  content: "";
  border-bottom: 2px solid #505050;
  position: absolute;
  bottom: -6px;
  left: 0px;
  width: 100%;
}

.head-hero {
  text-align: center;
}
.head-hero .logo-center {
  margin-bottom: 30px;
}
.head-hero h1 {
  font-size: 70px;
  color: #3B3559;
  margin-bottom: 0px;
  text-transform: uppercase;
}
.head-hero span.head-title-page {
  font-family: "Dancing Script", cursive;
  font-size: 90px;
  color: #3B3559;
}

.footer-section {
  padding: 80px 0px 0px;
  background: #3B3559;
  color: #F6F5F0;
  font-size: 20px;
}
.footer-section-widget {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-section-widget-list {
  width: 30%;
}
.footer-section-widget-list:last-child {
  width: 40%;
}
.footer-section-widget-list .title {
  margin-bottom: 35px;
}
.footer-section-widget-list .item .link-footer {
  color: #F6F5F0;
  display: block;
  margin-bottom: 8px;
}
.footer-section-widget-list .item .link-footer:hover {
  color: #F29CAB;
}
.footer-section-widget-list .item.address {
  margin-top: 50px;
}
.footer-section-widget-list .item.address .link-footer {
  color: #F29CAB;
}
.footer-section-widget-list .item.address .link-footer:hover {
  color: #E49FC6;
}
.footer-section-widget-list .contact .input-action,
.footer-section-widget-list .contact .input-action-text {
  width: 100%;
  height: 40px;
  border: 1px solid #F6F5F0;
  background-color: transparent;
  font-size: 20px;
  color: #F6F5F0;
  padding: 5px 10px;
  margin-bottom: 20px;
}
.footer-section-widget-list .contact .input-action:focus,
.footer-section-widget-list .contact .input-action-text:focus {
  outline: none;
  border-radius: 0px;
}
.footer-section-widget-list .contact .input-action-text,
.footer-section-widget-list .contact .input-action-text-text {
  height: 160px;
}
.footer-section .footnote {
  border-top: 1px solid;
  padding-top: 30px;
  margin-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-section .footnote img {
  margin-right: 10px;
}

.second {
  position: relative;
}
.second.video {
  padding-bottom: 100px;
}
.second.video h2 {
  text-transform: uppercase;
  letter-spacing: 9px;
  margin-bottom: 50px;
  font-weight: 900;
}
.second .container {
  width: 50%;
}
.second .top-ornament::after, .second .top-ornament::before {
  content: "";
  background-image: url("../../img/leaf-many.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: -144px;
  height: 320px;
  width: 380px;
  background-size: contain;
  background-position: 62px 0px;
}
.second .top-ornament::before {
  right: unset;
  left: 0px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.second h3, .second h4 {
  text-transform: uppercase;
  text-align: center;
}
.second h3 {
  color: #3B3559;
  font-size: 35px;
}
.second h4 {
  color: #E49FC6;
  font-size: 26px;
}
.second .paragraph {
  margin-bottom: 30px;
  position: relative;
}
.second .paragraph.one::before, .second .paragraph.two::before {
  content: "";
  background-image: url("../../img/leaf-single.png");
  background-repeat: no-repeat;
  position: absolute;
  left: -250px;
  bottom: 0px;
  height: 135px;
  width: 200px;
  background-size: contain;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.second .paragraph.two::before {
  left: unset;
  right: -200px;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  bottom: -60px;
}
.second .more {
  position: relative;
  margin-top: 180px;
}
.second .more p {
  font-size: 16px;
  width: 50%;
  margin: 0px auto;
  text-align: center;
  line-height: 24px;
  font-weight: 600;
}
.second .more p::before {
  content: "";
  background-image: url("../../img/leaf-devide.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 264px;
  position: absolute;
  left: 17%;
  top: -116px;
  z-index: -1;
}
.second .more .more-link {
  width: 40%;
  margin: 40px auto 0px;
  display: block;
  text-align: center;
  color: #171717;
  position: relative;
}
.second .more .more-link::before {
  content: "";
  background-image: url("../../img/strok-strong.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 300px;
  height: 65px;
  left: 0px;
  z-index: -1;
  top: -8px;
}
.second .bottom-ornament {
  background-image: url("../../img/flower-bg.png");
  background-repeat: repeat-x;
  width: 100%;
  height: 394px;
  background-position: 0px -166px;
}

.third {
  background-color: #EEEAF4;
  padding: 100px 0px;
  position: relative;
}
.third h2 {
  text-align: center;
  text-transform: uppercase;
  color: #3B3559;
  font-size: 35px;
}
.third h4 {
  text-align: center;
  text-transform: uppercase;
  color: #E49FC6;
  font-size: 26px;
}
.third p {
  position: relative;
  z-index: 3;
}
.third .column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 3;
  position: relative;
  margin-bottom: 140px;
}
.third .column-text {
  width: 45%;
}
.third::before, .third::after {
  content: "";
  background-image: url("../../img/waves.png");
  background-repeat: no-repeat;
  width: 668px;
  height: 500px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-size: contain;
  z-index: 1;
}
.third::after {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  right: unset;
  left: 0px;
}

.fourth {
  padding-top: 100px;
}
.fourth .paragraph p {
  column-count: 2;
  column-gap: 30px;
}
.fourth .more {
  position: relative;
  width: 63%;
  margin: 180px auto 100px;
}
.fourth .more p {
  font-size: 16px;
  width: 50%;
  margin: 0px auto;
  text-align: center;
  line-height: 24px;
  font-weight: 600;
}
.fourth .more p::before {
  content: "";
  background-image: url("../../img/leaf-devide.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 264px;
  position: absolute;
  left: 17%;
  top: -116px;
  z-index: -1;
}
.fourth .more .more-link {
  width: 40%;
  margin: 40px auto 0px;
  display: block;
  text-align: center;
  color: #171717;
  position: relative;
}
.fourth .more .more-link::before {
  content: "";
  background-image: url("../../img/strok-strong.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 300px;
  height: 65px;
  left: 0px;
  z-index: -1;
  top: -8px;
}

.fifth {
  padding-top: 100px;
  background-image: url("../../img/bg-1-.png");
  background-size: cover;
  background-position: top center;
}
.fifth h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
}
.fifth .paragraph p {
  column-count: 2;
  column-gap: 30px;
}
.fifth .more {
  position: relative;
  width: 63%;
  margin: 180px auto 100px;
}
.fifth .more p {
  font-size: 16px;
  width: 50%;
  margin: 0px auto;
  text-align: center;
  line-height: 24px;
  font-weight: 600;
}
.fifth .more p::before {
  content: "";
  background-image: url("../../img/leaf-devide.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 264px;
  position: absolute;
  left: 17%;
  top: -116px;
  z-index: -1;
}
.fifth .more .more-link {
  width: 40%;
  margin: 40px auto 0px;
  display: block;
  text-align: center;
  color: #171717;
  position: relative;
}
.fifth .more .more-link::before {
  content: "";
  background-image: url("../../img/strok-strong.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 300px;
  height: 65px;
  left: 0px;
  z-index: -1;
  top: -8px;
}

.sixth {
  background-color: #F5EAED;
  padding: 200px 0px 120px;
  position: relative;
  z-index: -2;
}
.sixth h2 {
  position: relative;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}
.sixth h2::before {
  content: "";
  background-image: url("../../img/sun-devide.png");
  width: 290px;
  height: 136px;
  position: absolute;
  left: 38%;
  top: -150px;
  background-repeat: no-repeat;
}
.sixth .paragraph p {
  column-count: 2;
  column-gap: 30px;
}
.sixth .paragraph p span.pink {
  text-transform: uppercase;
  color: #E49FC6;
}
.sixth .more {
  position: relative;
  width: 63%;
  margin: 180px auto 0px;
}
.sixth .more p {
  font-size: 16px;
  width: 50%;
  margin: 0px auto;
  text-align: center;
  line-height: 24px;
  font-weight: 600;
}
.sixth .more p::before {
  content: "";
  background-image: url("../../img/leaf-devide.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 264px;
  position: absolute;
  left: 17%;
  top: -116px;
  z-index: -1;
}
.sixth .more .more-link {
  width: 40%;
  margin: 40px auto 0px;
  display: block;
  text-align: center;
  color: #171717;
  position: relative;
}
.sixth .more .more-link::before {
  content: "";
  background-image: url("../../img/strok-strong.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 300px;
  height: 65px;
  left: 0px;
  z-index: -1;
  top: -8px;
}

.level {
  position: relative;
  padding: 100px 0px 150px;
}
.level.understanding {
  background-color: #F5EAED;
  padding-top: 0px;
}
.level.understanding.activation {
  background-color: #ece3ed;
  background-position: 0px -379px;
}
.level.understanding.activation .level-content {
  padding-top: 0px;
}
.level::after {
  content: "";
  background-image: url("../../img/bg-section.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1700px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 1;
  left: 0px;
  background-position: center;
}
.level h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  color: #3B3559;
  font-size: 35px;
  letter-spacing: 9px;
  font-weight: 600;
}
.level-text-top {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.level-text-top p {
  font-size: 22px;
  margin-top: 50px;
}
.level-text-top .brush {
  position: relative;
  background-image: url("../../img/strok.png");
  background-size: 285px;
  background-repeat: no-repeat;
  background-position: center;
}
.level-text-top .brush p {
  margin-top: 0px;
  padding: 20px 0px;
  text-transform: uppercase;
}
.level .level-content {
  padding-top: 200px;
  z-index: 2;
  position: relative;
}
.level .level-content-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.level .level-content-item-list {
  width: 28.5%;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #707070;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.level .level-content-item-list img {
  min-width: 30%;
  height: 78px;
  margin: 0 auto;
  display: inline-block;
  padding-bottom: 20px;
}
.level .level-content-item-list p {
  font-size: 20px;
}
.level .level-content-item-list .dots {
  position: relative;
}
.level .level-content-item-list .dots:after {
  background-image: url("../../img/dots-pink.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  bottom: -87px;
  left: 79px;
  z-index: 1;
}
.level .level-content-item-list .dots a {
  font-family: "Magnat-HeadRegular";
  position: relative;
  margin: 0px;
  padding: 0px 0px;
  z-index: 2;
  line-height: 20px;
  margin-top: 43px;
  display: block;
  color: #3B3559;
  text-transform: uppercase;
  font-style: italic;
}
.level .level-content-item-list .dots.two::after {
  background-image: url("../../img/dots-purple.png");
}
.level .level-content-item-list .dots.three::after {
  background-image: url("../../img/dots-blue.png");
}
.level .level-content-item-list:hover {
  background-color: #F6F5F0;
}
.level .level-content-item .top h2 {
  font-size: 25px;
  letter-spacing: 5px;
  line-height: 25px;
  margin-top: 20px;
}
.level .level-content-item .top h2 span {
  font-family: "Dancing Script", cursive;
  text-transform: capitalize;
  letter-spacing: normal;
  font-size: 34px;
}

.find-chi {
  position: relative;
  padding-bottom: 100px;
}
.find-chi::after, .find-chi::before {
  content: "";
  background-image: url("../../img/leaf-many.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: -140px;
  height: 320px;
  width: 380px;
  background-size: contain;
  background-position: 62px 0px;
  z-index: -2;
}
.find-chi::before {
  right: unset;
  left: 0px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.find-chi .brush a {
  color: #171717;
  text-transform: uppercase;
  line-height: 26px;
  padding: 27px 0px;
  display: inline-block;
}

.second.understanding {
  position: relative;
}
.second.understanding .container {
  width: 50%;
}
.second.understanding .top-ornament::after, .second.understanding .top-ornament::before {
  content: "";
  background-image: url("../../img/butterfly-blue.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: -40px;
  height: 320px;
  width: 380px;
  background-size: contain;
  background-position: 62px 0px;
}
.second.understanding .top-ornament::before {
  right: unset;
  left: 0px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.second.understanding .paragraph p {
  column-count: 2;
  column-gap: 30px;
}
.second.understanding .paragraph p span.quote {
  font-family: "Open Sans", sans-serif;
}

.third.understanding {
  padding: 100px 0px 240px;
}
.third.understanding .paragraph p {
  column-gap: 30px;
  column-count: 2;
}

.fourth.understanding h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.fourth.understanding .more {
  position: relative;
  width: 37%;
  margin: 180px auto 100px;
}
.fourth.understanding .more::before {
  content: "";
  background-image: url("../../img/butterfly.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 178px;
  position: absolute;
  left: 28%;
  top: -116px;
  z-index: -1;
}

.fifth.understanding {
  padding: 100px 0px;
  background-image: none;
  position: relative;
}
.fifth.understanding::before {
  content: "";
  background-image: url("../../img/bg-section.png");
  background-size: cover;
  background-position: center;
  height: 1670px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}
.fifth.understanding h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
}
.fifth.understanding .paragraph p {
  column-count: 2;
  column-gap: 30px;
}

.sixth.understanding {
  position: relative;
  padding: 100px 0px;
  background-color: transparent;
}
.sixth.understanding::after, .sixth.understanding::before {
  content: "";
  background-image: url("../../img/leaf-many.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 40px;
  height: 320px;
  width: 380px;
  background-size: contain;
  background-position: 62px 0px;
  z-index: -2;
}
.sixth.understanding::before {
  right: unset;
  left: 0px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.sixth.understanding h2::before {
  content: none;
}
.sixth.understanding .sub-title {
  text-align: center;
}
.sixth.understanding .paragraph p {
  position: relative;
}
.sixth.understanding .paragraph p::after {
  content: "";
  background-image: url("../../img/leaf-single.png");
  height: 160px;
  width: 234px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 0px;
  bottom: -116px;
  z-index: -1;
}

.page.activation::before, .page.activation::after {
  content: none;
}
.page.activation .paragraph p::after {
  content: none;
}

.seventh.understanding {
  position: relative;
  padding: 150px 0px 300px;
}
.seventh.understanding h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
}
.seventh.understanding h2::before {
  content: "";
  background-image: url("../../img/leaf-devide.png");
  position: absolute;
  display: inline-block;
  height: 214px;
  left: 30%;
  top: -144px;
  background-repeat: no-repeat;
  text-align: center;
  z-index: -1;
  background-size: contain;
  width: 40%;
}
.seventh.understanding::after {
  content: "";
  background-image: url("../../img/flower-bg-long.png");
  background-size: contain;
  width: 100%;
  height: 400px;
  display: block;
  position: absolute;
  bottom: 0px;
  z-index: -1;
}
.seventh.understanding .container .paragraph {
  position: relative;
}
.seventh.understanding .container .paragraph p {
  column-count: 2;
  column-gap: 30px;
}
.seventh.understanding .container .paragraph p .more {
  display: block;
  margin-bottom: 44px;
  text-align: center;
  margin-top: 30px;
}
.seventh.understanding .container .paragraph p .more .more-link {
  position: relative;
  color: inherit;
}
.seventh.understanding .container .paragraph p .more .more-link::before {
  content: "";
  background-image: url("../../img/strok-strong.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 300px;
  height: 65px;
  left: -75px;
  z-index: -1;
  top: -14px;
}

.testimonial {
  padding: 100px 0px;
  background-color: #F5EAED;
}
.testimonial.level2 {
  padding-bottom: 0px;
}
.testimonial h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.testimonial h2 span {
  font-family: "Dancing Script", cursive;
  text-transform: lowercase;
  letter-spacing: normal;
  font-size: 34px;
}
.testimonial .quote {
  border: 1px solid #707070;
  border-radius: 30px;
  padding: 50px 30px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 600px;
}
.testimonial .quote-icon {
  margin-bottom: 50px;
}
.testimonial .quote-desc p {
  font-size: 18px;
  min-height: 280px;
}
.testimonial .quote-author {
  position: relative;
}
.testimonial .quote-author::after {
  background-image: url("../../img/ornament-sun.png");
  content: "";
  width: 145px;
  height: 118px;
  background-size: contain;
  position: absolute;
  bottom: -147px;
  left: -24px;
  background-repeat: no-repeat;
}
.testimonial .owl-nav {
  position: absolute;
  bottom: 45%;
  width: 100%;
}
.testimonial .owl-nav .owl-prev {
  position: absolute;
  left: -80px;
  background: url("../../img/arrow.png") !important;
  background-repeat: no-repeat !important;
  width: 38px;
  height: 58px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.testimonial .owl-nav .owl-prev span {
  display: none;
}
.testimonial .owl-nav .owl-next {
  position: absolute;
  right: -80px;
  background: url("../../img/arrow.png") !important;
  background-repeat: no-repeat !important;
  width: 38px;
  height: 58px;
}
.testimonial .owl-nav .owl-next span {
  display: none;
}

.activation {
  background-image: url("../../img/bg-section.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 350px;
  background-position: bottom center;
  position: relative;
}
.activation::after {
  content: "";
  background-image: url("../../img/flower-bg-long.png");
  background-repeat: repeat;
  background-size: contain;
  width: 100%;
  height: 400px;
  display: block;
  position: absolute;
  bottom: 0px;
  z-index: 1;
}
.activation .activation-top {
  margin-bottom: 140px;
}
.activation .activation-top p {
  text-align: center;
  margin-bottom: 40px;
}
.activation .activation-top-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.activation .activation-top-list .item {
  text-align: center;
}
.activation .activation-top-list .item .title {
  margin: 20px 0px;
  line-height: 24px;
  font-size: 18px;
}
.activation .title-head {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  color: #3B3559;
  letter-spacing: 9px;
  line-height: 45px;
}
.activation .title-head::after {
  content: "";
  background-image: url("../../img/sun-devide.png");
  background-size: contain;
  width: 140px;
  height: 70px;
  position: absolute;
  top: -85px;
  left: 40%;
  background-repeat: no-repeat;
}
.activation .title-head span {
  text-transform: lowercase;
  font-family: "Dancing Script", cursive;
  letter-spacing: normal;
  font-size: 43px;
}
.activation .paragraph p {
  text-align: center;
  font-size: 22px;
  line-height: 30px;
}
.activation .paragraph .column {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.activation .paragraph .column-half p {
  margin: 0px;
  color: #E49FC6;
}
.activation .text-special {
  display: block;
  font-family: "Magnat-HeadRegular";
  letter-spacing: 6px;
  font-weight: 700;
  font-style: italic;
  font-size: 22px;
  margin-bottom: 20px;
  color: #3B3559;
}

.sixth.activation {
  background-image: none;
}

.portal, .program {
  background: #F5EAED;
  padding: 60px 0px 80px;
  text-align: center;
}
.portal h2, .program h2 {
  text-transform: uppercase;
  margin-bottom: 50px;
}
.portal .link, .program .link {
  position: relative;
  display: inline-block;
}
.portal .link .link-btn, .program .link .link-btn {
  color: #171717;
  position: relative;
  z-index: 1;
}
.portal .link .link-btn::after, .program .link .link-btn::after {
  content: "";
  background-size: contain;
  background-image: url("../../img/strok-strong.png");
  background-repeat: no-repeat;
  display: block;
  width: 300px;
  height: 65px;
  position: absolute;
  left: -98px;
  top: -12px;
  z-index: -1;
}

.program {
  background: transparent;
}

.dot-ornament {
  position: relative;
}
.dot-ornament::before {
  content: "";
  position: absolute;
  background-image: url("../../img/dots-purple.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 180px;
  height: 174px;
  top: -105px;
  left: 44%;
  z-index: 2;
}

.level-up {
  padding-bottom: 100px;
}
.level-up .container {
  width: 50%;
}
.level-up h2 {
  color: #3B3559;
  letter-spacing: 8px;
}

.level-1 {
  background-image: none;
  position: relative;
  padding-top: 100px;
}
.level-1::before {
  background-image: url(../../img/bg-section.png);
  background-repeat: no-repeat;
  display: block;
  content: "";
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
  width: 100%;
  height: 1190px;
  background-size: cover;
  position: absolute;
  top: 0px;
}
.level-1 h2 {
  color: #3B3559;
  letter-spacing: 10px;
}
.level-1 .paragraph p {
  line-height: 35px;
}
.level-1 .paragraph p span {
  display: block;
  text-transform: lowercase;
  font-family: "Dancing Script", cursive;
  letter-spacing: normal;
  font-size: 43px;
  color: #3B3559;
  padding: 50px 0px;
}
.level-1 .paragraph p.text-content {
  position: relative;
  margin-bottom: 250px;
}
.level-1 .paragraph p.text-content::after {
  content: "";
  background-image: url("../../img/butterfly-blue.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: -212px;
  left: 36%;
}

.new-level {
  padding: 100px 0px;
  background-color: #F5EAED;
}
.new-level .butterfly {
  background: url("../../img/butterfly.png") no-repeat;
  background-size: contain;
  display: block;
  width: 200px;
  height: 172px;
  margin: 0 auto;
}
.new-level h2 {
  margin-bottom: 30px;
  color: #3B3559;
  letter-spacing: 5px;
}

.chakra {
  padding: 100px 0px;
}
.chakra h2 {
  color: #3B3559;
  margin-bottom: 50px;
  letter-spacing: 5px;
  color: #3B3559;
}
.chakra .column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chakra .column .item {
  margin-right: 30px;
}
.chakra .column .item:last-child {
  margin-right: 0px;
}
.chakra .column .item .title {
  color: #E49FC6;
  letter-spacing: 3px;
}

.quantum h2 {
  letter-spacing: 5px;
  color: #3B3559;
  position: relative;
  z-index: 2;
}
.quantum h2 span {
  display: block;
  text-transform: lowercase;
  font-family: "Dancing Script", cursive;
  letter-spacing: normal;
  font-size: 43px;
}
.quantum .paragraph p {
  column-count: 1 !important;
  column-gap: 0px;
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.chakras {
  padding-top: 120px !important;
}
.chakras::before, .chakras::after {
  top: 300px !important;
}
.chakras h2 {
  letter-spacing: 5px;
  position: relative;
}
.chakras h2.main-title::before {
  content: "";
  background-image: url("../../img/sun-devide.png");
  position: absolute;
  top: -84px;
  left: 43%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 170px;
  height: 80px;
}
.chakras .paragraph {
  width: 70%;
  margin: 0 auto;
}
.chakras .paragraph p {
  column-count: 1 !important;
}
.chakras .paragraph p::after {
  content: none !important;
}
.chakras .paragraph.one {
  margin-bottom: 135px;
}

.healing {
  padding: 100px 0px 350px;
  background-color: #F5EAED;
  position: relative;
}
.healing::after {
  content: "";
  background-image: url("../../img/flower-bg-long.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 340px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  background-position: 0px -104px;
}
.healing .paragraph h2 {
  margin-bottom: 30px;
  letter-spacing: 5px;
}
.healing .paragraph p {
  column-count: 2;
  column-gap: 30px;
}

.intuitive {
  position: relative;
  background-color: #EEEAF4;
  padding: 100px 0px 200px;
}
.intuitive .paragraph {
  width: 70%;
  margin: 0 auto;
  position: relative;
}
.intuitive .paragraph h2 {
  letter-spacing: 5px;
  margin-bottom: 0px;
  font-size: 32px;
}
.intuitive .paragraph span {
  display: block;
  text-transform: lowercase;
  font-family: "Dancing Script", cursive;
  letter-spacing: normal;
  font-size: 43px;
  color: #3B3559;
}
.intuitive .paragraph::after {
  content: "";
  background-image: url("../../img/butterfly-blue.svg");
  position: absolute;
  bottom: -156px;
  left: 40%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 171px;
  height: 124px;
}

.course {
  padding: 100px 0px;
}
.course .level-content {
  z-index: 2;
  position: relative;
}
.course .level-content-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.course .level-content-item-list {
  width: 28.5%;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #707070;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 20px;
}
.course .level-content-item-list img {
  min-width: 30%;
  height: 78px;
  margin: 0 auto;
  display: inline-block;
  padding-bottom: 20px;
}
.course .level-content-item-list p {
  font-size: 20px;
}
.course .level-content-item-list .dots {
  position: relative;
}
.course .level-content-item-list .dots:after {
  background-image: url("../../img/dots-pink.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  content: "";
  position: absolute;
  height: 200px;
  width: 200px;
  bottom: -87px;
  left: 79px;
  z-index: 1;
}
.course .level-content-item-list .dots a {
  font-family: "Magnat-HeadRegular";
  position: relative;
  margin: 0px;
  padding: 0px 0px;
  z-index: 2;
  line-height: 20px;
  margin-top: 43px;
  display: block;
  color: #3B3559;
  text-transform: uppercase;
  font-style: italic;
}
.course .level-content-item .top h2 {
  font-size: 25px;
  letter-spacing: 5px;
  line-height: 25px;
  margin-top: 20px;
  font-family: "Magnat-HeadRegular";
  letter-spacing: 5px;
  font-weight: 700;
  font-style: italic;
  color: #3B3559;
}
.course .level-content-item .top h2 span {
  font-family: "Dancing Script", cursive;
  text-transform: capitalize;
  letter-spacing: normal;
  font-size: 34px;
}

.sold-level1 .level-content-item {
  justify-content: center;
}
.sold-level1 .level-content-item-list {
  margin: 0px 20px;
}

.level-2 h3 {
  letter-spacing: 5px;
  color: #3B3559;
  font-size: 32px;
}
.level-2 .paragraph p {
  column-count: 2;
  column-gap: 30px;
}
.level-2 .butterfly {
  background: url("../../img/butterfly-pink.svg") no-repeat;
  background-size: contain;
  display: block;
  width: 200px;
  height: 172px;
  margin: 0 auto;
}

.expanding {
  background-color: #F5EAED;
  padding: 100px 0px 300px;
  position: relative;
}
.expanding .paragraph h2 {
  letter-spacing: 5px;
  font-size: 35px;
}
.expanding .paragraph h2 span {
  font-family: "Dancing Script", cursive;
  text-transform: lowercase;
  letter-spacing: normal;
  font-size: 50px;
}
.expanding .paragraph p {
  column-gap: 30px;
  column-count: 2;
}
.expanding::after {
  content: "";
  background-image: url("../../img/flower-bg-long.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 442px;
  position: absolute;
  bottom: 0px;
}

.self-healing {
  padding: 150px 0px 100px;
}
.self-healing .top-ornament::before, .self-healing .top-ornament::after {
  top: 70px !important;
}
.self-healing .container.special {
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.self-healing .container.special .column {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.self-healing .container.special .column .item {
  text-align: center;
}
.self-healing .container.special .column .item span {
  display: block;
  color: #E49FC6;
  text-transform: uppercase;
  font-family: "Magnat-HeadRegular";
  letter-spacing: 3px;
  font-size: 26px;
  font-style: italic;
  margin-bottom: 20px;
}
.self-healing .container.special .column .item span:last-child {
  margin-bottom: 0px;
}
.self-healing .container .paragraph p {
  text-align: center;
  column-count: 1;
}

.abilities {
  padding: 100px 0px;
  position: relative;
}
.abilities::after, .abilities::before {
  content: "";
  position: absolute;
  background-image: url("../../img/half-butterfly.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 220px;
  height: 400px;
  right: 0px;
  top: 17%;
  z-index: -1;
}
.abilities::before {
  left: 0px;
  right: unset;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.abilities .container {
  width: 60%;
}
.abilities .paragraph h2 {
  letter-spacing: 5px;
}
.abilities .paragraph p {
  column-gap: 30px;
  column-count: 2;
}
.abilities .paragraph p a {
  color: #3B3559;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  background: url("../../img/strok-strong.png") no-repeat;
  background-size: contain;
  width: 100%;
  padding: 12px 0px;
  font-family: "Magnat-HeadRegular";
  text-align: center;
  margin: 20px auto 0px;
  background-position: center;
  font-style: italic;
}

.master-level {
  padding-bottom: 100px;
}
.master-level h2 {
  letter-spacing: 5px;
}
.master-level h2 span {
  font-family: "Dancing Script", cursive;
  text-transform: lowercase;
  letter-spacing: normal;
  font-size: 40px;
}
.master-level .paragraph p {
  column-count: 1 !important;
  text-align: center;
}
.master-level .paragraph span.text-pink {
  display: block;
  color: #E49FC6;
  font-family: "Magnat-HeadRegular";
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin: 30px 0px;
}

.precepts {
  background-color: #EBE8EF;
  position: relative;
}
.precepts::before, .precepts::after {
  content: "";
  background-image: url("../../img/half-waves.png");
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 200px;
  -webkit-transform: scaleY(-1) scaleX(-1);
  transform: scaleY(-1) scaleX(-1);
  background-size: cover;
}
.precepts::after {
  bottom: 0px;
  left: unset;
  right: 0px;
  top: unset;
  -webkit-transform: scaleY(1) scaleX(1);
  transform: scaleY(1) scaleX(1);
}
.precepts .paragraph {
  position: relative;
  z-index: 2;
}

.meditation {
  padding-bottom: 200px;
  position: relative;
}
.meditation::after {
  content: "";
  background-image: url("../../img/half-bg-section.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
.meditation .container {
  width: 70%;
}
.meditation .paragraph h2 {
  letter-spacing: 5px;
  position: relative;
  margin-bottom: 50px;
}
.meditation .paragraph h2::after {
  content: "";
  background-image: url("../../img/leaf-devide.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 170px;
  position: absolute;
  left: 31%;
  bottom: -54px;
  width: 400px;
  z-index: -1;
}
.meditation-advance {
  padding-top: 0px;
  background-color: #ECE3ED;
  padding-bottom: 0px;
  position: relative;
}
.meditation-advance .container {
  width: 70%;
}
.meditation-advance h2 {
  letter-spacing: 5px;
  margin-bottom: 0px;
}
.meditation-advance span {
  font-size: 35px;
  display: block;
  text-align: center;
  color: #3B3559;
}
.meditation-advance .content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 30px;
}
.meditation-advance .content-item {
  flex: 1 0 0;
}
.meditation-advance .content-item:first-child {
  margin-right: 20px;
}
.meditation-advance .content-item:last-child {
  margin-left: 20px;
}
.meditation-advance .content-item h2 {
  color: #E49FC6;
  letter-spacing: 5px;
}
.meditation-art-inner {
  position: relative;
}
.meditation-art-inner::before {
  content: "";
  background-image: url("../../img/half-bg-section.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
  position: absolute;
  top: -52px;
  left: 0px;
  -webkit-transform: scaleY(-1) scaleX(-1);
  transform: scaleY(-1) scaleX(-1);
  z-index: -1;
}
.meditation-art-inner .paragraph {
  text-align: center;
  margin-bottom: 50px;
}
.meditation-art-inner .paragraph h2 {
  letter-spacing: 5px;
}
.meditation-art-inner .content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 30px;
}
.meditation-art-inner .content-item {
  flex: 1 0 0;
  margin: 0px 20px;
}
.meditation-art-inner .content-item:first-child {
  margin-right: 20px;
  margin-left: 0px;
}
.meditation-art-inner .content-item:last-child {
  margin-left: 20px;
  margin-right: 0px;
}
.meditation-art-inner .content-item h2 {
  color: #E49FC6;
  letter-spacing: 5px;
}
.meditation-art-inner .content-item img {
  width: 100%;
}

span.text-pink.ball {
  color: #E49FC6;
  display: block;
  margin: 20px 0px;
  font-size: 26px;
  font-family: "Magnat-HeadRegular";
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin: 30px 0px;
}

.the-course {
  padding-top: 200px;
}
.the-course h2.title {
  position: relative;
  margin-bottom: 50px;
}
.the-course h2.title::before {
  content: "";
  background-image: url("../../img/sun-devide.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 130px;
  width: 207px;
  position: absolute;
  top: -130px;
  left: 41%;
}
.the-course .content {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 30px;
}
.the-course .content-item {
  flex: 1 0 0;
  margin: 0px 20px;
}
.the-course .content-item:first-child {
  margin-right: 20px;
  margin-left: 0px;
}
.the-course .content-item:last-child {
  margin-left: 20px;
  margin-right: 0px;
}
.the-course .content-item h2 {
  color: #E49FC6;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 26px;
}
.the-course .link {
  text-align: center;
}
.the-course .link-visit {
  color: #3B3559;
  font-family: "Magnat-HeadRegular";
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 5px;
  position: relative;
}
.the-course .link-visit::after {
  content: "";
  background-image: url("../../img/strok-strong.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 300px;
  height: 65px;
  position: absolute;
  z-index: -1;
  left: -77px;
  top: -12px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container-fluid,
.container {
    width: 100%;
    margin: 0px auto;
    padding: 0px 10px;
  }

  .container {
    padding: 0px 20px;
  }
}

/*# sourceMappingURL=main.css.map */
